[Bb]in/
[Oo]bj/

# 🔹 Arquivos de pacotes
packages/
*.nuget

# 🔹 Configurações e arquivos do Rider
.idea/
*.sln.iml

# 🔹 Configurações
appsettings.json
appsettings.*.json
secrets.json

# 🔹 Logs e arquivos temporários
logs/
*.log
*.tlog

# 🔹 Arquivos do PostgreSQL 
*.sql
pg_dump/