@page
@model FinanceTracker.Pages.MenuModel

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Menu</title>
</head>
<body>
    <h1 style="text-align: center;">Menu</h1>

    <div style="text-align: center;">
        <!-- Botão para acessar a página de AdicionarAtivo -->
        <a href="/AdicionarAtivo" class="btn-primary">Adicionar Ativo Financeiro</a>
        <br><br>
        
        <!-- Botão para acessar a página de Listar_Ativos -->
                <a href="/Listar_Ativos" class="btn-primary">Listar Ativos</a>
                <br><br>
        
        <!-- Botão para fazer logout -->
        <a href="/Login" class="btn-secondary">Logout</a>
    </div>
</body>
</html>
