@page
@model FinanceTracker.Pages.LoginModel


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Login</title>
    <script>
        async function loginUser(event) {
            event.preventDefault(); 
            
            const email = document.getElementById("email").value;
            const senha = document.getElementById("senha").value;

            const response = await fetch("/api/auth/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    Email: email,
                    Senha: senha
                })
            });

            if (response.ok) {
                window.location.href = "/Menu";
            } else {
                const errorText = await response.text();
                document.getElementById("errorMessage").innerText = "Erro: " + errorText;
            }
        }
    </script>
</head>
<body>
<h1>Login</h1>

<form onsubmit="loginUser(event)">
    <div asp-validation-summary="All" style="color: red;"></div>

    <label>Email:</label>
    <input type="email" id="email" required />
    <span asp-validation-for="Email" style="color: red;"></span>
    <br />

    <label>Senha:</label>
    <input type="password" id="senha" required />
    <span asp-validation-for="Senha" style="color: red;"></span>
    <br />

    <div style="text-align: center; margin-top: 2rem;">
        <button type="submit" class="btn-primary">Login</button>
    </div>
    
</form>

<button type="button" onclick="window.location.href='@Url.Page("/register")'" class="btn-primary">
  Registar
</button>

<p id="errorMessage" style="color: red;"></p>
</body>
</html>